.depoimentos-lista {
  padding-top: 60px;
  padding-bottom: 120px;
  overflow: hidden;
  position: relative;

}

.depoimentos-lista h2 {
  margin-bottom: 40px;

  color: #7c8181;
}

.depoimentos-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow: hidden;

}

.depoimentos-lista li {
  flex: 1;
  min-width: 280px;
  list-style: none;

}

.arrowDepo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.arrowDepo.left {
  left: 10px;
}

.arrowDepo.right {
  right: 10px;
}
.depoimentos-lista a {
  display: block;
}

.depoimentos-lista img {
  margin-bottom: 16px;
  height: 280px !important;

}

.depoimentos-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: #7c8181;
  text-align: center;


}

.depoimentos-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color:  #77afa8;
  transition: width 0.2s;
}

.depoimentos-lista a:hover h3::before {
  width: 24px;
}

.depoimentos-lista li span {
  padding-left: 20px;
}
.depoimentos-lista h2 span {
  color: #77afa8;
}
@media (max-width: 800px) {
  .depoimentos-lista {
    padding-bottom: 60px;
  }
  .depoimentos-lista ul {
    gap: 20px;
  }
}
